@model Jobsway2goMvc.Models.Job

@{
    ViewData["Title"] = "ApplyJob";
    @ViewBag.JobApplicationExists;
}

<h1 style="color:red; display:inline-block">Apply</h1>
<hr />
<h3></h3>
<div class="job-details-wrapper">
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenSpots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenSpots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Applicants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Applicants)
        </dd>
    </dl>
        @if (ViewBag.HasAlreadyApplied)
        {
            <form asp-controller="Jobs" asp-action="UnApplyJob">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="submit" value="UnApply" class="btn btn-danger" />
            </form>
        }
        else
        {
            <form asp-controller="Jobs" asp-action="ApplyJob">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="submit" value="Apply" class="btn btn-danger" />
            </form>
        }

        <a asp-action="Index">Back to List</a>
       
</div>
<style>
    .job-details-wrapper {
        max-width: 800px; /* set the max width of the wrapper */
        margin: 0 auto; /* center the wrapper horizontally */
        padding: 20px; /* add some padding to the wrapper */
        background-color: #f5f5f5; /* add a background color to the wrapper */
        border: 1px solid #ddd; /* add a border to the wrapper */
    }

    /* Style the headings */
    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    /* Style the form buttons */
    form input[type="submit"] {
        background-color: #dc3545;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 10px;
    }

        form input[type="submit"]:hover {
            background-color: #c82333;
        }

    /* Style the link to go back to the list */
    a {
        color: #dc3545;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

</style>