@model IEnumerable<Jobsway2goMvc.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenSpots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 <img src="@Url.Content(item.ImagePath)" class="img-fluid" alt="image">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenSpots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSalary)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-action="SaveToCollection"asp-route-id="@item.Id">SaveToCollection</a>
                <a asp-action="ApplyJob" asp-route-id="@item.Id">ApplyJob</a>
            </td>
        </tr>
}
    </tbody>
</table>
