@model Jobsway2goMvc.Models.Collection

@{
    ViewData["Title"] = "Details";
    @ViewBag.NullUser
}
<p class="text-danger"> @ViewBag.NullUser</p>
<dl class="details-title">
    <h1> @Html.DisplayFor(model => model.Name) </h1>
</dl>
<hr />
<div class="details-text">
    <h4>Jobs</h4>
</div>
<hr />
<form class="details-form">
    @if (Model.Jobs.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().Schedule)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().OpenSpots)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().Requirements)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().DateFrom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().DateTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().MinSalary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().MaxSalary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().Applicants)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs.First().Category)
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var job in Model.Jobs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => job.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.Schedule)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.OpenSpots)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.Requirements)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.DateFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.DateTo)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.MinSalary)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.MaxSalary)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.CategoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.Applicants)
                        </td>
                        <td>
                            @Html.DisplayFor(model => job.Category.Name)
                        </td>

                        <td>
                             
                            <a class="btn btn-secondary" asp-controller="Jobs" asp-action="Details" asp-route-id="@job.Id">Details</a>

                            <a class="btn-group-sm" asp-action="RemoveJob" asp-route-id="@Model.Id">X</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        @ViewBag.JobCollection
    }
    <div>
        <a class="btn back-btn" asp-controller="Collections" asp-action="Index">Back to List</a>
    </div>
</form>