@model IEnumerable<Jobsway2goMvc.Models.Collection>

@{
    ViewData["Title"] = "Index";
    @ViewBag.NullUser
}

<p class="text-danger"> @ViewBag.NullUser</p>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a id="deleteAction-@item.Id" class="btn btn-link text-decoration-none px-0 delete-btn-link" data-name="@item.Name"
                   data-delete-action-url="/Collections/DeleteConfirmed/@item.Id"
                   data-reload-url="@Url.Action("Index","Collections")">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>