@model IEnumerable<Jobsway2goMvc.Models.Collection>

@{
    ViewData["Title"] = "Index";
    @ViewBag.NullUser
}

<p class="text-danger"> @ViewBag.NullUser</p>

<h1>Create a Collection</h1>

<p>
    <a class="btn post-btn" asp-action="Create">Create new collection</a>
</p>
<table class="category-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn post-btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn post-btn" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a id="deleteAction-@item.Id" class="btn del-btn" data-name="@item.Name"
                   data-delete-action-url="/Collections/DeleteConfirmed/@item.Id"
                   data-reload-url="@Url.Action("Index","Collections")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    .category-table {
        border-collapse: collapse;
        width: 100%;
    }

        .category-table th, .category-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .category-table th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .category-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .category-table tr:hover {
            background-color: #ddd;
        }

    .post-btn {
        background-color: #001935;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    .del-btn {
        background-color: #fd1616;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
</style>