@model IEnumerable<Jobsway2goMvc.Models.ViewModel.ConnectionListViewModel>

@{
    ViewData["Title"] = "ConnectionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #fcfcfc;
    }

    .row {
        margin: auto;
        padding: 30px;
        width: 80%;
        display: flex;
        flex-flow: column;
    }

        .row .card {
            width: 100%;
            margin-bottom: 5px;
            display: block;
            transition: opacity 0.3s;
        }

    .card-body {
        padding: 0.5rem;
    }

        .card-body table {
            width: 100%;
        }

            .card-body table tr {
                display: flex;
            }

                .card-body table tr td:nth-child(2) {
                    text-align: right;
                    display: flex;
                    justify-content: end;
                }


    .card-title:before {
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 1.1rem;
        text-align: center;
        border: 2px solid grey;
        border-radius: 100px;
        width: 30px;
        height: 30px;
        padding-bottom: 3px;
        margin-right: 10px;
    }

    .notification-invitation .card-body .card-title:before {
        color: #90CAF9;
        border-color: #90CAF9;
        content: "\f007";
    }

    .card.display-none {
        display: none;
        transition: opacity 2s;
    }
</style>


<div class="row notification-container">
    <h2 class="text-center">My Connection Request!</h2>
    <br />
    @if(@Model.Where(c => c.Status == ConnectionStatus.Pending).Count() > 0)
    {
        @foreach (var item in Model)
        {
            @if (item.Status == ConnectionStatus.Pending)
            {
                <div class="card notification-card notification-invitation">
                    <div class="card-body">
                        <table>
                            <tr>
                                <td style="width:70%"><div class="card-title">@item.FirstName @item.LastName </div></td>
                                <td style="width:30%">
                                    <form method="post" asp-controller="UserConnection" asp-action="AcceptConnection" asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-primary">Accept</button>
                                    </form>
                                    <form method="post" asp-controller="UserConnection" asp-action="RejectConnection" asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-danger">Reject </button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <h4 class="d-flex justify-content-center text-info">No Connection requests at the moment!</h4>
    }
    <br/>
    <h2 class="text-center">Your Accepted Connections!</h2>
    <br />
    @if (Model.Where(c=> c.Status == ConnectionStatus.Accepted).Count() > 0)
    {
        @foreach (var item in Model)
        {
            @if (item.Status == ConnectionStatus.Accepted)
            {
                <div class="card notification-card notification-invitation">
                    <div class="card-body">
                        <table>
                            <tr>
                                <td style="width:70%"><div class="card-title">@item.FirstName @item.LastName </div></td>
                                <td style="width:30%">
                                    <form method="post" asp-controller="UserConnection" asp-action="Details" asp-route-id="@item.UserId">
                                        <button type="submit" class="btn btn-primary">View Profile</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <h4 class="d-flex justify-content-center text-info">No Connections to show at the moment!</h4>
    }
</div>