@model Jobsway2goMvc.Models.ViewModel.UserProfileViewModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Profile";
}

    <div class="container">
        <div class="profile-main">
            <div class="profile-container">
                <div class="profile-container-inner">
                    <img src=@Model.ImagePath class="profile-pic mt-2" />
                    <h1> @Model.FirstName @Model.LastName</h1>
                    <b>@Model.Email</b>
                    <p>@Model.CompanyName</p>
                    <p>@Model.CompanyArea</p>
                    <div class="profile-btn">
                        @if(Model.CurrentConnectionList == null)
                        {
                        <form asp-controller="UserConnection" asp-action="RequestConnection">
                            <input asp-for="@Model.Id"  hidden/>
                               <button class="btn btn-primary">Connect</button> 
                        </form>
                        }else if(Model.CurrentConnectionList !=null && Model.CurrentConnectionList.Status == ConnectionStatus.Pending ){
                                <button class="btn btn-secondary">Pending</button>
                         }
                         else if(Model.CurrentConnectionList != null && Model.CurrentConnectionList.Status == ConnectionStatus.Accepted)
                         {
                                <button class="btn btn-secondary">Connected</button>
                         }
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-description">
            <h2>About</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the i
                ndustry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centu
                ries, but also the leap into electronic
            </p>
        </div>
        <div class="profile-description">
            <h2>Education</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the i
                ndustry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centu
                ries, but also the leap into electronic
            </p>
        </div>
        <div class="profile-description">
            <h2>Experience</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the i
                ndustry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centu
                ries, but also the leap into electronic
            </p>
        </div>

        <div class="profile-sidebar">
        </div>
    @{
        string currentUserId = User.Identity.IsAuthenticated ? User.FindFirst(ClaimTypes.NameIdentifier).Value : null;
    }
    @if (currentUserId != null && currentUserId == Model.Id)
    {
         <div>
            <a class="nav-link text-dark" asp-area="Collection" asp-controller="Collections" asp-action="Index">My Collections</a>
        </div>
    }
</div>
 
