@model IEnumerable<Jobsway2goMvc.Models.ApplicationUser>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int groupId = ViewBag.Id;
    @ViewBag.MemberExist
}

<h1>User List, manage group members, moderators and admins</h1>
<p class="text-danger"> @ViewBag.MemberExist </p>
<p class="text-danger"> @ViewBag.ModeratorExist</p>
<p class="text-danger"> @ViewBag.AdminExist</p>

<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-dark">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-action="AddMember" asp-controller="Groups">
                        <input asp-for="@user.Id" name="userId" hidden />
                        <input asp-for="@groupId" name="groupId" hidden />
                        <button class="btn btn-secondary">Add Member </button>
                    </form>
                    <form asp-action="AddModerator" asp-controller="Groups">
                        <input asp-for="@user.Id" name="userId" hidden />
                        <input asp-for="@groupId" name="groupId" hidden />
                        <button class="btn btn-primary">Add Moderator </button>
                    </form>
                    <form asp-action="AddAdmin" asp-controller="Groups">
                        <input asp-for="@user.Id" name="userId" hidden />
                        <input asp-for="@groupId" name="groupId" hidden />
                        <button class="btn btn-info">Add Admin </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
    <a asp-action="MemberList" asp-route-id="@groupId">View Member List</a>
    <a asp-action="ModeratorList" asp-route-id="@groupId">View Moderator List</a>
    <a asp-action="AdminList" asp-route-id="@groupId">View Admin List</a>
</div>