@using Jobsway2goMvc.Enums;
@model Jobsway2goMvc.Models.ViewModel.GroupDetailsPostsViewModel


@{
    ViewData["Title"] = "Details";
    @ViewBag.Rejected
}

<div>
    <hr />
    <h1>@Model.Name</h1>
</div>

@if (Model.CurrentMembershipList != null && (Model.CurrentMembershipList.IsAdmin || Model.CurrentMembershipList.IsModerator))
{
    <a type="button" class="btn btn-warning" asp-action="PendingPosts" asp-controller="Groups" asp-route-id="@ViewBag.GroupId">
        Pending Posts : <span class="badge bg-secondary"> @Model.Posts.Where(p=>p.Status == Approval.Pending).Count()</span>
    </a>
}
<h4>Posts</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.First().CreatedAtUTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.First().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.First().Status)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            if (post.Status == Approval.Accepted)
            {
                <tr>
                    <td>
                    @Html.DisplayFor(model => post.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => post.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => post.CreatedAtUTC)
                </td>
                <td>
                    @Html.DisplayFor(model => post.Type)
                </td>
                <td>
                    @Html.DisplayFor(model => post.Status)
                </td>
                <td>
                    <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">Edit</a> |
                    <a asp-action="DetailsPost" asp-route-id="@post.Id">Details</a> |
                    <a asp-action="DeletePost" asp-route-id="@post.Id">Delete</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
@if (Model.CurrentMembershipList != null && Model.CurrentMembershipList.IsMember==true)
{
    <a asp-controller="Post" asp-action="Create" asp-route-groupId="@ViewBag.GroupId" class="btn btn-primary">Create New Post</a>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
