@model GroupDetailsViewModel
@using Jobsway2goMvc.Enums

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int groupId = ViewBag.Id;

}


@if (Model.CurrentMembershipList == null)
{
    <p class="text-danger">You are not a member of this group</p>
}
else if (Model.CurrentMembershipList.Status == Approval.Pending)
{
    <p class="text-warning">Your membership request is pending</p>
}
else if (Model.CurrentMembershipList.Status == Approval.Accepted && Model.CurrentMembershipList.IsMember == true)
{
    <p class="text-success">You are a member of this group</p>
}
else if (Model.CurrentMembershipList.Status == Approval.Rejected)
{
    <p class="text-danger">Your membership request was rejected</p>
}

<div class="d-flex justify-content-between align-items-center mt-3">
    <a class="btn btn-outline-secondary" asp-action="Index">Back to group list</a>
    @if (Model.CurrentMembershipList != null && (Model.CurrentMembershipList.IsAdmin || Model.CurrentMembershipList.IsModerator))
    {
        <a class="btn btn-outline-primary" asp-action="MemberList" asp-route-id="@groupId">View Member List</a>
        <a class="btn btn-outline-primary" asp-action="ModeratorList" asp-route-id="@groupId">View Moderator List</a>
        <a class="btn btn-outline-info" asp-action="AdminList" asp-route-id="@groupId">View Admin List</a>
        <a class="btn btn-outline-danger" asp-action="BannedMembersList" asp-route-id="@groupId">View Banned Member List</a>
        <a class="btn btn-outline-primary" asp-action="Requests" asp-route-id="@groupId">View Membership Requests</a>
        <a class="text btn btn-light" style="text-decoration: none;" asp-action="DetailsPostsGroup" asp-route-id="@groupId"><i class="fas fa-long-arrow-alt-right me-2"></i> Go to Group Details</a>
    }


</div>
<br />

<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-dark">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>
                    @if (Model.CurrentMembershipList != null && Model.CurrentMembershipList.IsAdmin)
                    {
                        <form asp-action="AddAdmin" asp-controller="Groups">
                            <input asp-for="@user.Id" name="userId" hidden />
                            <input asp-for="@groupId" name="groupId" hidden />
                            <button class="btn btn-info">Add Admin </button>
                        </form>
                        <form asp-action="AddModerator" asp-controller="Groups">
                            <input asp-for="@user.Id" name="userId" hidden />
                            <input asp-for="@groupId" name="groupId" hidden />
                            <button class="btn btn-primary">Add Moderator </button>
                        </form>
                    }
                    @if (Model.CurrentMembershipList != null && (Model.CurrentMembershipList.IsAdmin || Model.CurrentMembershipList.IsModerator))
                    {
                        <form asp-action="AddMember" asp-controller="Groups">
                            <input asp-for="@user.Id" name="userId" hidden />
                            <input asp-for="@groupId" name="groupId" hidden />
                            <button class="btn btn-secondary">Add Member </button>
                        </form>
                        <form asp-action="Ban" asp-controller="Groups">
                            <input asp-for="@user.Id" name="userId" hidden />
                            <input asp-for="@groupId" name="groupId" hidden />
                            <button class="btn btn-danger">Ban User </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
