@model List<ManageUserRolesViewModel>

@{
    ViewData["Title"] = "ManageUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @ViewBag.RoleNull;
}
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Roles</h2>
            Add/Remove Roles for User / @ViewBag.UserName.
        </div>
        <div class="card-body">            
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model[i].Id" />
                        <input type="hidden" asp-for="@Model[i].Name" />
                        <input asp-for="@Model[i].Selected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].Selected">
                            @Model[i].Name
                        </label>
                    </div>
                }
           
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn post-btn"
                   style="width:auto"  />
            <a asp-action="UserRoles"
               class="btn post-btn" style="width:auto">Cancel</a>
        </div>
    </div>
</form>
<style>
    .card {
        margin-top: 50px;
        max-width: 500px;
        margin: 50px auto;
    }

    .card-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #dee2e6;
        padding: 10px;
    }

        .card-header h2 {
            margin: 0;
            font-size: 28px;
        }

    .form-check {
        display: block;
        margin-bottom: 10px;
    }

    .form-check-label {
        margin-left: 10px;
        font-size: 18px;
    }

    .btn {
        margin-right: 10px;
    }

    .text-danger {
        margin-top: 10px;
        font-size: 16px;
    }

    .post-btn {
        background-color: #001935;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
</style>