@model Jobsway2goMvc.Models.Event

@{
    ViewData["Title"] = "Details";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jobsway2goMvc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>
<div class="details-title">
    <h3>Event Details</h3>
</div>
<hr />
<form class="details-form">
    <div class="details-text">
        <h3>     @Html.DisplayNameFor(model => model.ImagePath) </h3>
        <p>  @Html.DisplayFor(model => model.ImagePath)</p>

        <h3>  @Html.DisplayNameFor(model => model.Title) </h3>
        <p> @Html.DisplayFor(model => model.Title)</p>

        <h3>  @Html.DisplayNameFor(model => model.Description) </h3>
        <p> @Html.DisplayFor(model => model.Description)</p>


        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><span> @Html.DisplayNameFor(model => model.CompanyName)</span></td>
                            <td>  @Html.DisplayFor(model => model.CompanyName)</td>
                        </tr>
                        <tr>
                            <td><span> @Html.DisplayNameFor(model => model.URL)</span></td>
                            <td>  @Html.DisplayFor(model => model.URL)</td>
                        </tr>
                        <tr>
                            <td><span> @Html.DisplayNameFor(model => model.Location)</span></td>
                            <td> @Html.DisplayFor(model => model.Location)</td>
                        </tr>
                        <tr>
                            <td><span>@Html.DisplayNameFor(model => model.EventDate)</span></td>
                            <td> @Html.DisplayFor(model => model.EventDate)</td>
                        </tr>
                        <tr>
                            <td><span>@Html.DisplayNameFor(model => model.CreatedBy)</span></td>
                            <td> @Html.DisplayFor(model => model.CreatedBy)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <a class="btn post-btn" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
        <a class="btn post-btn" asp-action="Index">Back to Events</a> 
        <a class="btn post-btn" asp-action="SelectUsers" asp-route-eventId="@Model?.Id">Send Invites</a>
        <a class="btn post-btn" asp-action="GuestsSelect" asp-route-eventId="@Model?.Id"> Guest acceptance</a>
    </div>
</form>
