@model IEnumerable<Jobsway2goMvc.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<dl class="details-title">
    <h1> Events </h1>
</dl>
<hr />
<p>
    <a class="btn post-btn" asp-action="Create">Create new Event</a>
</p>
<table id="event" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>          
            <td>
                    <a class="btn post-btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn post-btn" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a id="deleteAction-@item.Id" class="btn del-btn" text-decoration-none px-0 delete-btn-link" data-name="@item.Title"
                                   data-delete-action-url="/Events/DeleteConfirmed/@item.Id"
                                   data-reload-url="@Url.Action("Index","Events")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
    }

        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }

        .table tbody + tbody {
            border-top: 2px solid #dee2e6;
        }

        .table .table {
            background-color: #fff;
        }

    .table-sm th,
    .table-sm td {
        padding: 0.3rem;
    }

    .table-bordered {
        border: 1px solid #dee2e6;
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }

    .table-hover tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.075);
    }

    .table-primary,
    .table-primary > th,
    .table-primary > td {
        background-color: #b8daff;
    }

    .table-hover .table-primary:hover {
        background-color: #9fcdff;
    }

        .table-hover .table-primary:hover > td,
        .table-hover .table-primary:hover > th {
            background-color: #9fcdff;
        }
    .post-btn {
        background-color: #001935;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    .del-btn {
        background-color: #fd1616;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

</style>

<script>
    $(document).ready(function () {
        $('#event').DataTable();
    });
</script>
