@model IEnumerable<Jobsway2goMvc.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<dl class="details-title">
    <h1> Events </h1>
</dl>
<hr />
<p>
    <a class="btn post-btn" style="width:20%;" asp-action="Create">Create new Event</a>
</p>
<table id="event" class="category-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>          
            <td>
                    <a class="btn post-btn" style="width:30%;" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn post-btn" style="width:30%;" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a id="deleteAction-@item.Id" style="width:30%;" class="btn del-btn" text-decoration-none px-0 delete-btn-link" data-name="@item.Title"
                                   data-delete-action-url="/Events/DeleteConfirmed/@item.Id"
                                   data-reload-url="@Url.Action("Index","Events")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    .category-table {
        border-collapse: collapse;
        width: 100%;
    }

        .category-table th, .category-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .category-table th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .category-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .category-table tr:hover {
            background-color: #ddd;
        }
    .post-btn {
        background-color: #001935;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    .del-btn {
        background-color: #fd1616;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

</style>

<script>
    $(document).ready(function () {
        $('#event').DataTable();
    });
</script>
